<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<main>
  <h1>Product Detail</h1>
  <p>Product: <%= productId %></p>
  <p>Title: <%= product.title %></p>
</main>

<%- include('../includes/end.ejs') %>